<!DOCTYPE HTML>
<html lang = "pt-pt">
<head>
  <meta http - equiv = " Content - Type " content = "text/html ; charset = UTF -8 ">
<link href="../static/style/cadastro-style.css" rel="stylesheet">
link rel="icon" type="image/x-icon" href="imagens-ihm/favicon.png">
  <title>Microsoft Paint Clone</title>
</head>
<body>
  <section>
    <div class="seconec">
      <img alt="Logótipo">
      <div>
         <div class="inputdates">
          <input type="text" placeholder="Username" class="escrever" id="username">
          <input type="password" placeholder="Senha" class="escrever" id="password">
         </div>
        <button id="btnLogin">Log-in</button>
        <div class="forgot">
          <a href="" >Esqueceu a sua senha?</a>
          <a id="createAccount">Nao tenho uma conta</a>
        </div>
      </div>
    </div>
  </section>
 <script src="../static//userSec/cadastrar.js" defer></script>
</body>
</html>
