<!DOCTYPE HTML>
<html lang = "pt-pt">
<head>
<meta http - equiv = " Content - Type " content = "text/html ; charset = UTF -8 ">
<link href="../static/style/cadastro-style.css" rel="stylesheet">
<link rel="stylesheet" href="../static/style/style.css">
  <title>Microsoft Paint Clone</title>
</head>
<body>

<section>
  <div class="seconec">
    <img alt="Logótipo">
    <div>
      <div class="inputdates">
        <input type="text" placeholder="Digite o nome de usuario" class="escrever" id="newusername">
        <input type="password" placeholder="Digite uma nova senha" class="escrever" id="newpassword">
        <p id='alertMessage'>
        </p>
      </div>
      <button id="btnCreateAccount">Criar Conta</button>
    </div>
  </div>
</section>

<script src="../static/userSec/createAccount.js"></script>
</body>
</html>