<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Microsoft Paint Clone</title>
        <link rel="stylesheet" href="../static/style/hobstyle.css">
    </head>
    <body>
        <div class="option">
            
            <div>
                <h2 display =>Welcome to Microsoft Paint Clone</h2>
            </div>

            <div class="userinfo">
                <span id="display-username">
                </span>
                
                <button id="sigin-btn">
                    Sig-in
                </button>
                
                <button id="logout-btn">
                    Log-out
                </button>
                
                <button id="login-btn">
                    Log-in
                </button>
            </div>

        </div>
        <h3>Select a drawing or create a new one!</h3>
        <div class="showdiv" id="optiondiv">

            <div class="create-new-drawing">
                    <p>
                        <strong>New Drawing</strong>
                    </p>
            </div>

        </div>

        <footer>
            <div>
                <span style="font-size: 18px;"><b>Microsoft Paint Clone</b></span>
                <ul>
                </ul>
            </div>
        </footer>
    </body>
    <script src="../static/hobsec.js"></script>
</html>